@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
    --font-sans: 'DM Sans', sans-serif;
    --font-display: 'Playfair Display', serif;

    --color-background: #EDE4D6;
    --color-surface: #FDFAF6;
    --color-primary: #9C7A5B;
    --color-primary-light: #C9A87C;
    --color-text: #2E2016;
    --color-text-muted: #7A5C42;
    --color-border: #E0D0BC;

    --color-sand: #D4B483;
    --color-ocean: #364570;
    --color-sage: #A8BFA8;
    --color-apricot: #E8C49A;

    --color-logo: #364570;
    --color-logo-details: #ebeadf;
    --color-logo-conture: #231f20;
}

.fc .fc-button {
    @apply bg-primary border-primary text-surface
    px-4 py-2 rounded-lg text-xs font-medium
    tracking-widest uppercase shadow-none;
}

.fc .fc-button:hover {
    @apply bg-ocean border-ocean;
}

.fc .fc-toolbar-title {
    @apply font-display text-2xl text-text capitalize;
}

.fc {
    --fc-border-color: var(--color-border);
    --fc-today-bg-color: var(--color-apricot);
}
